@import "css/base.css";

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.nav-container,
.footer-container {
  background-color: var(--color-secondary);
  padding: 1em;
}

nav {
  /* contain */
  max-width: 1200px;
  margin: 0 auto;

  /* style */
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

nav ul li a {
  font-size: 0.8em;

  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

/* Main Content */
main {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
}

.main-content {
  align-self: center;
}

.main-content p {
  font-size: 1.2em;
}

.btn {
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.8em;
  background: #faf9f9;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.9);
  display: block;
  margin-top: 1em;
  max-width: fit-content;
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.hero-image {
  max-width: 400px;
}

/* Sections */
section {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  margin: 2em 0;
  gap: 1em;
}

.section-content {
  align-self: center;
}

.section-image {
  max-width: 300px;
}

/* Stats */
.card-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 2em 0;
}

.stat-card {
  background-color: var(--color-secondary, red);
  padding: 0.5em 3em 0.5em 0.5em;
}

footer {
  /* contain */
  max-width: 1200px;
  margin: 0 auto;

  background-color: var(--color-secondary);
  padding: 2em;
}

.footer-overlay {
  position: absolute;
  transform: scale(0.7);
  bottom: 100%;
  left: 50%;
  z-index: 99;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  section {
    grid-template-columns: 1fr;
    padding: 1em 0;
  }
}
